Package: sifredegistir-dbgsym
Source: sifredegistir
Version: 2.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 102
Depends: sifredegistir (= 2.0.0)
Section: debug
Priority: optional
Description: debug symbols for sifredegistir
Build-Ids: 5d87ee731c0a1699e7b319a9a1ab5de4533cc66f e2ce96d245e0599a6e1db1e7154f44e3e36dc5c6
