#bayram KARAHAN bayramk@gmail.com

[Desktop Entry]
Exec=sh -c "/usr/bin/newpassword.sh"
Type=Application
Name[tr_TR.UTF-8]=newpassword.desktop
Name[tr_TR]=newpassword.desktop
